<!DOCTYPE html>
<html>
<head>
    <title>File Upload</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .copy-button {
            margin-top: 10px;
        }
    </style>
    <script>
        function copyUid() {
            var uidInput = document.getElementById("uidInput");
            uidInput.select();
            document.execCommand("copy");
        }
    </script>
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Upload a File</h1>
        <form method="POST" enctype="multipart/form-data" action="/">
            <div class="form-group">
                <label for="fileInput">Select a File</label>
                <input type="file" class="form-control-file" id="fileInput" name="file">
            </div>
            <!-- Add Email Address field -->
            <div class="form-group">
                <label for="emailInput">Email Address</label>
                <input type="email" class="form-control" id="emailInput" name="email">
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
        {% if message %}
            <p>{{ message }}</p>
            <p>Your uid is:</p>
            <div>
                <input type="text" class="form-control" id="uidInput" name="uid" value="{{ uid }}" readonly>
                <button class="btn btn-secondary copy-button" onclick="copyUid()">Copy UID</button>
            </div>
        {% endif %}

        <!-- Add UID status form -->
        <form method="POST" action="{{ url_for('status') }}">
            <div class="form-group">
                <label for="uidInput">Enter UID</label>
                <input type="text" class="form-control" id="uidInput" name="uid">
            </div>
            <div id="uidError" class="alert alert-danger mt-2" style="display: none;"></div>

            <button type="submit" class="btn btn-primary">Get Status</button>
        </form>

        {% if error %}
            <div class="alert alert-danger mt-4">
                <p>{{ error }}</p>
            </div>
        {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
